<!-- /snippets/blog-header.liquid -->
<header class="home-link">
	<button class="show-video" data-module-init="show-video">
		{{ 'logo_gc.svg' | asset_url | img_tag }}
		{{ 'logo_large.svg' | asset_url | img_tag }}
		{{ 'logo_large.svg' | asset_url | img_tag }}
	</button>
</header>