<!-- /snippets/shop-nav.liquid -->
<a href="/cart" class="shop-nav cart-link site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false" data-module-init="cart-count">(<span class="cart-count">{{ cart.item_count }}</span>)</a>
<button class="shop-nav info-link" data-module-init="about-link">Info</button>